/* min-wifth:992px */

div.all_places {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
}

div.single_place {
    width: 23%;
}