* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "TikTok Sans", sans-serif;
    scroll-behavior: smooth;
}

.flex_column_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

section.comments {
    padding: 10px;
    background-image: url('https://cdn.pixabay.com/photo/2018/11/19/15/06/machang-bridge-3825439_960_720.jpg');
    background-position: 35%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #DCFFEF;
}

section.comments .single_comment {
    background-color: #2f7261cc;
    padding: 20px;
    margin-bottom: 10px;
}

section.comments .single_comment p:first-child {
    text-align: center;
    line-height: 1.3;
}

section.comments .single_comment p:last-child {
    font-weight: bold;
    align-self: flex-end;
    margin-top: 10px;
}

section.map {
    padding: 10px;
}

section.kontakt {
    padding: 10px;
}

div.single_contact {
    margin-bottom: 20px;
}

div.single_contact:last-child {
    margin-bottom: 0;
}

section.map iframe {
    width: 100%;
}

h2.h2 {
    padding: 10px 0;
    text-align: center;
}

div.single_place img {
    display: block;
    width: 100%;
}

section.newsletter {
    background-color: #a1f3d4;
    padding: 10px 20px;
}

section.newsletter h2 {
    text-transform: uppercase;
    margin-bottom: 10px 0;
}

section.newsletter form {
    margin: 10px 0;
}

section.newsletter form .newsletter_input {
    display: flex;
    flex-direction: column;
}

section.newsletter form .newsletter_input input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px 0 8px 8px;
    border: none;
}

button.button {
    width: 100%;
}

.button {
    padding: 10px 20px;
    margin: 10px 0;
    border: 1px solid #DCFFEF;
    background-color: #DCFFEF;
    color: #2F7261;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
}

.button:hover {
    background-color: #2F7261;
    border: #2F7261;
    color: #DCFFEF;
    transition: 0.1s;
}

section.places_to_see {
    padding: 10px;
}

section.places_to_see div.single_place p {
    padding: 10px 10px 10px 10px;
    text-align: center;
    line-height: 1.3;
}

header {
    width: 100%;
    color: #DCFFEF;
    height: 100vh;
    padding: 10px;
    background-image: url('https://cdn.pixabay.com/photo/2018/11/19/15/06/machang-bridge-3825439_960_720.jpg');
    background-position: 35%;
    background-repeat: no-repeat;
    background-size: cover;
}

/*style dla stopki*/
footer {
    background-color: #DCFFEF;
}

.stopa {
    display: grid;
    place-items: center;
}

/*sekcja kontaktu*/
div.single_contact i {
    font-size: 50px;
    color: #2F7261;
    border: 5px solid #2F7261;
    padding: 10px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    margin-bottom: 5px;
}